@import "~normalize.css";
@import "fonts.css";

body {
    font-family: 'Roboto', sans-serif;
}


.container {
    padding-top: 2rem;
    margin: 0 auto;
    max-width:1000px;
}

.logo {
    background-image: url("../assets/Web.png");
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 200px;
}